.contact {
  max-width: 750px;
  margin: 0 auto; /* Centers the container horizontally */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.014);
  color: #ffffff;
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: column; /* Allow content to stack vertically */
  align-items: center; /* Centers content within the container */
  
  /* Center the .about container in the viewport */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact p {
  font-size: 16px;
  margin: 5px 0;
}
