.contact {
  max-width: 750px;
  margin: 0 auto; /* Centers the container horizontally */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.014);
  color: #ffffff;
  backdrop-filter: blur(14px);
  display: flex;
  flex-direction: column; /* Allow content to stack vertically */
  align-items: center; /* Centers content within the container */
  
  /* Center the .about container in the viewport */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact p {
  font-size: 16px;
  margin: 5px 0;
  text-align: center;
  margin-bottom: 1rem; /* Add more space between contact items */
}

/* Style for the contact label (e.g., "Phone", "Email") */
.contact-label {
  display: block; /* Make it a block-level element to force a new line */
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 4px; /* Add some space between the label and the info */
}

/* Style for the contact info itself */
.contact-info {
  display: block; /* Ensure it also behaves as a block if needed */
  color: #ffffff; /* Ensure link color is white */
  text-decoration: none; /* Remove underline from email link */
}
