body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .header {
    position: fixed; /* Keeps the header at the top */
    top: 20px; /* Space from the top */
    left: 50%; /* Center the header horizontally */
    transform: translateX(-50%); /* Adjust for the element's width */
    padding: 15px 30px; /* Add padding for the pill shape */
    border-radius: 25px; /* Creates the pill shape */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Optional: adds a shadow for depth */
    z-index: 1000; /* Ensures the header is above other elements */
    //background-color: rgba(200, 200, 200, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0; /* Remove default margin */
  }
  
  .nav-links li {
    margin: 0 15px; /* Adjust margin as needed */
  }
  
  .nav-links a {
    text-decoration: none;
    color: #9c9c9c; /* Change the color as needed */
    font-weight: bold;
  }

  .app {
    display: flex;
    flex-direction: column;
  }
  