html, body {
  height: 100%;
}

body {
  background-color: hsl(260, 40%, 5%);
  overflow: hidden;
  overflow-x: hidden;
}

.App {
  display: block;
  overflow-y: auto;
}

header, .profile-card, .experience-tabs, .featured-projects {
  overflow: visible;
  position: relative;
}

html, body, .App {
  height: 100%;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
}

@media (max-width: 768px) {
  .header {
    top: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }
  .nav-links li {
    margin: 5px 0;
  }

  .App {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .wave {
    height: 100px;
    width: 3200px;
  }
  .ocean {
    height: 3%;
  }
}
