/* index.css */
html, body, .App {
  height: 100%;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  background-color: hsla(260, 40%, 5%, 1);
  font-family: 'Roboto', sans-serif;
  cursor: url("data:image/svg+xml,%3Csvg width='21' height='24' viewBox='0 0 21 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_8_81)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17 9.50676L5 4L7.83818 17L11.3062 11.8654L17 9.50676Z' fill='transparent'/%3E%3Cpath d='M17.1914 9.96869L18.2499 9.5302L17.2085 9.05232L5.20854 3.54556L4.29776 3.12761L4.51151 4.10665L7.34969 17.1066L7.59881 18.2477L8.25253 17.2799L11.6364 12.2698L17.1914 9.96869Z' stroke='%2310B981' stroke-miterlimit='16'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_8_81' x='0.59552' y='0.255223' width='19.8216' height='23.2402' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='1.5'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_8_81'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_8_81' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E"), auto;
}

.App {
  display: block;
}

header, .profile-card, .experience-tabs, .featured-projects {
  overflow: visible;
  position: relative;
}

@media (max-width: 768px) {
  .header {
    top: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .nav-links li {
    margin: 5px 0;
  }

  .App {
    padding: 10px;
  }
}
