/* ProfileCard.scss */

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* Main profile card container */
.profile-card {
  max-width: 800px; /* Keep width consistent with ExperienceTabs */
  margin: 20px auto; /* Center the ProfileCard */
  padding: 20px;
  box-sizing: border-box;
}

/* Profile content layout */
.profile-content {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  justify-content: flex-start; /* Align items to the left */
  width: 100%;
  gap: 20px;
}

/* Text and icon alignment */
.text-info {
  display: flex;
  flex-direction: column;
  text-align: left; /* Align text to the left */
  width: 100%; /* Ensures text stays within the container */
}

/* Profile picture styling */
.profile-picture {
  width: 150px;
  height: 214px;
  border-radius: 0; /* Keeps the rectangular shape */
  margin-right: 20px; /* Spacing between picture and text */
}

/* Adjusted styling for headings */
h1 {
  font-size: 1.8em;
  font-weight: 700;
  margin: 0;
  color: #c7c7c7;
}

.subtitle {
  font-size: 1em;
  color: #c7c7c7;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  justify-content: flex-start; /* Align icons to the left */
}

.icon {
  font-size: 2em;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s;
}

.icon:hover {
  color: #61dafb;
}

/* Resume button styling */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  z-index: 0;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.App {
  padding-top: 50px; /* Adjust as needed to avoid cutoff */
}